---
layout: page
title: Shop
permalink: /shop/
icon: grass-one.svg
priority: 1
body-class: shop
---

<section class="products">
  <article class="product">
    <header class="product-header">
      <h2>Beef Box</h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet quis ipsum eu auctor. Pellentesque at nibh eu quam sodales auctor. Duis bibendum posuere neque vitae ultrices. Quisque nec felis neque.</p>

    <p>Donec venenatis dolor eget dolor feugiat vehicula. Duis efficitur tempor purus at vehicula. Vestibulum neque ipsum, euismod nec nisl pulvinar, mattis semper leo. </p>

    <p>Etiam at risus risus. Sed quis congue lectus. Etiam sed eros sed magna viverra tristique at non magna.</p>
  </article>
  <article class="product-image">
      {% include grass-one.svg %}
  </article>

  <article class="product">
    <header class="product-header">
      <h2>Lamb Box</h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet quis ipsum eu auctor. Pellentesque at nibh eu quam sodales auctor. Duis bibendum posuere neque vitae ultrices. Quisque nec felis neque.</p>

    <p>Donec venenatis dolor eget dolor feugiat vehicula. Duis efficitur tempor purus at vehicula. Vestibulum neque ipsum, euismod nec nisl pulvinar, mattis semper leo. </p>

    <p>Etiam at risus risus. Sed quis congue lectus. Etiam sed eros sed magna viverra tristique at non magna.</p>
  </article>
  <article class="product-image">
      {% include grass-one.svg %}
  </article>
</section>
