<header class="top-header">
  <nav class="navbar">
    <ul class="navbar-list navbar-brand">
      <li class="navbar-item ">
        <a class="navbar-link" href="{{ site.baseurl }}/realindex">Rare Ruminare</a>
      </li>
    </ul>
    <ul class="navbar-list navbar-options">
     <!--  <li class="navbar-item">
        <a class="navbar-link" href="{{ site.baseurl }}/shop">Shop</a>
      </li> -->
      <li class="navbar-item">
        <a class="navbar-link" href="{{ site.baseurl }}/projects">Projects</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" href="{{ site.baseurl }}/blog">Blog</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" href="{{ site.baseurl }}/about">About</a>
      </li>
    </ul>
  </nav>
</header>
