<header class="top-header">
  <nav class="navbar-brand">
    <a class="block-link" href="{{ site.baseurl }}/">
      {% include logo.svg %}
    </a>
  </nav>
  <nav class="navbar-brand-small">
    <a class="block-link" href="{{ site.baseurl }}/">
      {% include small-logo.svg %}
    </a>
  </nav>
  {% assign pages = site.pages | sort:"priority"  %}
  <nav class="navbar container">
    <ul class="navbar-list">
    <!-- Nav links -->
      {% for p in pages %}
      {% if p.priority %}
      <li class="navbar-item navbar-option {% if page.url contains p.url %}active-nav{% elsif p.url contains page.body-class %}active-nav{% endif %}">
        <a class="navbar-link" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>
</header>
