<header class="top-header">
  <nav class="navbar">
    <!-- Navbar logo -->
    <ul class="navbar-list navbar-brand">
      <li class="navbar-item ">
        <a class="navbar-link" href="{{ site.baseurl }}/realindex">
          {% include logo.svg %}
        </a>
      </li>
    </ul>

    <!-- Nav links -->
    {% assign pages = site.pages | sort:"priority"  %}
    <ul class="navbar-list navbar-options">
      {% for p in pages %}
      {% if p.title %}
      <li class="navbar-item">
        <a class="navbar-link" href="{{ p.url | prepend: site.baseurl }}">
         <p>{% include {{ p.icon }} %}{{ p.title }}</p>
        </a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>
</header>
