@import "variables";

body.blog {

  section {
    .blog-wall-header {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      ul.option-list {
        list-style: none;
        display: flex;
        margin: 0;
        margin-bottom: $generic-spacing;
        padding: 0;
        li {
          &:after  {
            content: "/";
            padding-left: 3px;
            padding-right: 3px;
          }

          &:last-child:after {
            content: ""
          }

          &.active {
            font-weight: bold;
          }

          a {
            padding: 1px;
            &:hover  {
              color: $primary-text-colour;
              font-weight: bold;
            }
          }

        }
      }
    }
  }

  section.blog-wall {

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    margin: 0 auto;
    padding-top: 0;

    article.blog-brick {
      background-size: cover;
      background-position: center center;
      color: $primary-contrast-text-colour;

      position: relative;
      width: 273px;
      height: 550px;

      padding: 0;
      margin-bottom: $small-spacing;

      &:nth-child(odd) {
        margin-right: $small-spacing;
      }

      a {
        display: block;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        color: $primary-contrast-text-colour;
        transition-property: background-color;
        transition-duration: 0.15s;
        transition-timing-function: linear;

        background-color: rgba(0,0,0, 0.4);
        &:hover {
          color: $primary-contrast-text-colour;
          background-color: $primary-colour-alpha;
        }
      }

      header {

        padding: 10px;
        .blog-title {
          font-weight: bold;
        }
        .blog-categories {
          font-style: italic;
          font-weight: lighter;
        }
        .blog-date {
          font-weight: lighter;
        }
        p {
          padding: 0;
          margin: 0;
          font-size: 16px;
        }
      }
    }
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    section.blog-wall {
      width: 100%;
      article.blog-brick {
        width: 100%;
      }
    }
  }
}

.blog-post {

  position: relative;

  .blog-header {
    position: relative;
    background-position: center center;
    background-size: cover;
    height: $content-width;
    width: $content-width;
    margin-bottom: $generic-spacing * 2;

    .gel {
      position: absolute;
      background-color: $primary-colour-alpha;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      h1.blog-title, p.blog-post-meta {
        color: white;
        padding: $generic-spacing;
      }

      h1.blog-title {
        padding-bottom: 0;
        font-size: $big-font;
      }

      p.blog-post-meta {
        padding-top: 0;
      }


      .blog-cover-photo {
        background-position: center center;
        background-size: cover;
        height: $content-width;
        width: $content-width;
      }
    }
  }

  .blog-post-content {

    p {
      font-size: 18px;
    }

    p:nth-of-type(3n+1) {
      &::first-letter {
          font-size: 200%;
      }
    }

    .blog-image {
      &:nth-of-type(odd) {
        float: left;
        width: 45%;
        margin-right: $generic-spacing;
        margin-left: -$generic-spacing;
      }

      &:nth-of-type(even) {
        float: right;
        width: 45%;;
        margin-left: $generic-spacing;
        margin-right: -$generic-spacing;
      }
    }
  }

  dl {
    dt {
      font-weight: bold;
      padding-bottom: $generic-spacing / 2;
    }
    dd {
      padding-bottom: $generic-spacing / 2;
      padding-left: $generic-spacing;
    }
  }
}
