@import "variables";

body.blog {

  section.blog-wall {

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    margin: 0 auto;
    padding-top: 0;

    article.blog-brick {
      background-size: cover;
      background-position: center center;
      color: $primary-contrast-text-colour;

      position: relative;
      width: 273px;
      height: $content-width - 2px;

      padding: 0;
      margin-bottom: $small-spacing;

      &:nth-of-type(1), &:nth-of-type(3n + 1) {
        width: $content-width;
        margin-top: 0px;
      }

      &:nth-of-type(3n + 2) {
        margin-right: $small-spacing;
      }

      a {
        display: block;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        color: $primary-contrast-text-colour;
        &:hover {
          color: $primary-contrast-text-colour;
          header {
            background-color: $primary-colour-alpha;
            height: 100%;
          }
        }
      }

      header {
        transition: $background-transition;
        height: 100%;
        background-color: $primary-colour;
        .blog-title, .blog-date {
          padding: $generic-spacing / 2;
        }

        h2.blog-title {
          font-size: $medium-font;
          margin-bottom: 0;

        }
        .blog-date {
          font-size: $small-font;
          font-weight: lighter;
          padding-top: 0;
        }
      }
    }
  }

  @media (max-width: $tablet) {
    section.blog-wall {
      article.blog-brick {
        max-width: 100%;
        width: 90vw;
        height: 90vw;
        margin-right: 0 !important;
        margin-bottom: $generic-spacing;
        a {
          header {
            background-color: $primary-colour-alpha;
          }
        }
      }
    }
  }

}

.blog-post {

  position: relative;

  .blog-header {
    position: relative;
    background-position: center center;
    background-size: cover;
    height: $content-width;
    width: $content-width;
    margin-bottom: $generic-spacing * 2;

    .gel {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      header {

        background-color: $primary-colour-alpha;
        color: white;

        h2.blog-title, .blog-date {
          padding: $generic-spacing / 2;
        }

        h2.blog-title, h2.blog-title {
          font-size: $medium-font;
          margin-bottom: 0;

        }
        .blog-date {
          font-size: $small-font;
          font-weight: lighter;
          padding-top: 0;
        }
      }
      .blog-cover-photo {
        background-position: center center;
        background-size: cover;
        height: $content-width;
        width: $content-width;
      }
    }
  }

  .blog-post-content {

    h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
    }

    p {
      font-size: 18px;
    }

    .blog-image {
      margin-top: 2 * $generic-spacing;
      margin-bottom: 2 * $generic-spacing;
      img {
        width: $content-width;
        height: $content-width;
      }
    }
  }

   @media (max-width: $tablet) {
    .blog-header {
      max-width: 100%;
      width: 90vw;
      height: 90vw;
    }


    .blog-post-content {
      .blog-image {
        img {
          max-width: 100%;
          width: 90vw;
          height: 90vw;
        }

      }
    }
  }

  dl {
    dt {
      font-weight: bold;
      padding-bottom: $generic-spacing / 2;
    }
    dd {
      padding-bottom: $generic-spacing / 2;
      padding-left: $generic-spacing;
    }
  }
}
