@import "variables";

body.blog {

  section {
    .blog-wall-header {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      ul.option-list {
        list-style: none;
        display: flex;
        margin: 0;
        margin-bottom: $generic-spacing;
        padding: 0;
        li {
          &:after  {
            content: "/";
            padding-left: 3px;
            padding-right: 3px;
          }

          &:last-child:after {
            content: ""
          }

          &.active {
            font-weight: bold;
          }

          a {
            padding: 1px;
            &:hover  {
              color: $primary-text-colour;
              font-weight: bold;
            }
          }

        }
      }
    }
  }

  section.blog-wall {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    article.blog-brick {
      background-size: cover;
      background-position: center center;
      background-size: 400px;

      width: 32.5%;
      height: 300px;

      margin-bottom: 5px;
      margin-right: 5px;
      padding: 0;

      color: $primary-contrast-text-colour;

      a {
        display: block;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        color: $primary-contrast-text-colour;
        background-color: $primary-colour;
        &:hover {
          color: $primary-contrast-text-colour;
          background-color: rgba(0,0,0, 0.4);
        }
      }

      header {

        padding: 10px;
        // background-color: rgba(0,0,0, 0.0);

        .blog-title {
          font-weight: bold;
        }

        .blog-categories {
          font-style: italic;
          font-weight: lighter;
        }

        .blog-date {
          font-weight: lighter;
        }

        p {
          padding: 0;
          margin: 0;
          font-size: 16px;
        }
      }
    }
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    section.blog-wall {
      width: 100%;
      article.blog-brick {
        width: 100%;
      }
    }
  }
}

.blog-post {

  // padding: 10%;
  padding-top: 0;
  width: $content-width;
  margin: 0 auto;
  .blog-post-content {

    p {
      font-size: 18px;
    }

    .blog-image {
      &:nth-of-type(odd) {
        float: left;
        width: 45%;
        margin-right: $generic-spacing;
        margin-left: -$generic-spacing;
      }

      &:nth-of-type(even) {
        float: right;
        width: 45%;
        margin-left: $generic-spacing;
        margin-right: -$generic-spacing;
      }
    }
  }

  dl {
    dt {
      font-weight: bold;
      padding-bottom: $generic-spacing / 2;
    }
    dd {
      padding-bottom: $generic-spacing / 2;
      padding-left: $generic-spacing;
    }
  }
}
