@import "variables";


body {
  .container {
    section {
      article.copy {
        padding: 0;
        h1, h2, h3, h4, p, a {
          font-size: $medium-font;
        }
        h1 {
          font-weight: bold;
        }
        h2 {
          font-style: italic;
        }
        svg.grass, img {
          width: $content-width;
          height: $content-width;
        }
        a {
          color: $link-colour;
          border-bottom: $link-border;
          &:hover {
            border-bottom: $link-border-hover;
          }
        }

        @media (max-width: $tablet){
          img {
            max-width: 100%;
            width: 90vw;
            height: 90vw;
          }
        }
      }
    }
  }
}
