@import "variables";


body {
  section {
    article.copy {
      padding: 0;
      h2 {

      }
      svg.grass, img {
        width: 60%;
        float: right;
        margin-left: $generic-spacing;

        &:nth-of-type(odd) {
          float: left;
          width: 45%;
          margin-right: $generic-spacing;
          margin-left: -$generic-spacing;
        }

        &:nth-of-type(even) {
          float: right;
          width: 45%;
          margin-left: $generic-spacing;
          margin-right: -$generic-spacing;
        }
      }
      p {

      }
    }
  }
}
