@import "variables";


body {
  .container {
    section {
      article.copy {
        padding: 0;
        h1, h2, h3, h4, p, a {
          font-size: $medium-font;
        }
        h1 {
          font-weight: bold;
        }
        h2 {
          font-style: italic;
        }
        svg.grass, img {
          width: $content-width;
          height: $content-width;
        }

        @media (max-width: $tablet){
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
