@import "variables";

footer {
  z-index: 1001;
  position: fixed;
  height: $footer-height;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 0;
  padding-right: $generic-spacing * 2;
  text-align: right;
  p {
    &:first-of-type {
      font-weight: bold;
    }
    margin: 0;
    padding: 0;
    color: $primary-text-colour;
    font-size: $medium-font;
    line-height: $medium-font + 2px;
  }

  @media (max-width: $tablet) {
    display: none;
  }

}

footer.social-footer {
  padding: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  height: $social-icon-size * 2;
  ul {
    // position: fixed;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding: 0;
    padding-bottom: $generic-spacing;
    padding-right: $generic-spacing * 2;
    li {
      padding: 0;
      padding-left: $generic-spacing / 2;
      width: $social-icon-size;
      height: $social-icon-size;
      a {
        display: block;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
      }
    }
  }

  @media (max-width: $tablet) {
    position: static;
  }
}




body.home {
  footer.social-footer, figure.watermark {
    display: none;
  }
}
