@import "variables";

footer {
  z-index: 1001;
  position: fixed;
  height: $footer-height;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 0;
  padding-right: $generic-spacing * 2;
  text-align: right;
  p {
    &:first-of-type {
      font-weight: bold;
    }
    margin: 0;
    padding: 0;
    color: $primary-text-colour;
    font-size: $medium-font;
    line-height: $medium-font + 2px;
  }
}

@media (max-height: $phone) and (orientation: landscape) {

  footer {
    bottom: auto;
    top: 0;
    padding-top: $generic-spacing;
    padding-right: $generic-spacing;
    p {
     font-size: 10px;
   }
 }
}

footer.social-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  height: $social-footer-height;
  width: $social-footer-width;
  padding-right: $generic-spacing;
  padding-bottom: $generic-spacing;
  ul {
    display: flex;
    padding: 0;
    list-style: none;
    li {
      padding: 0;
      padding-left: $generic-spacing;
      width: 30px;
      height: 30px;
      a {
        display: block;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
      }
    }
  }
}

figure.watermark {
  position: fixed;
  bottom: 4 * -$generic-spacing;
  right: 0;
  width: $social-footer-width * 2;
  svg {
    .st1, .cls-1 {
      fill: $primary-colour-alpha;
      color: $primary-colour-alpha;
    }
  }
}


body.home {
  footer.social-footer, figure.watermark {
    display: none;
  }
}
