@import "variables";
@import "utilities";

.main-content {
  position: absolute;
  top: $header-height;
  bottom: 0;
  right: 0;
  left: 0;
  color: $primary-text-colour;
  padding: $main-content-padding;

}

@include media-query($tablet) {
  .main-content {
    left: 0;
    padding: $generic-spacing;
  }
  .white-hat {
    display: none;
  }
}
