@import "variables";
@import "utilities";

.main-content {
  max-width: $content-width;
  color: $primary-text-colour;
  padding-bottom: $header-height;
}

@media (min-width: $tablet) {
  .main-content {
    &.fixed-nav {
      padding-top: $header-height;
    }
  }
}

@media (max-width: $tablet) {
  .main-content {
    padding-bottom: $generic-spacing;
  }
}


.bottom-links {

  padding-top: $generic-spacing;
  padding-bottom: $generic-spacing;
  a, p {
    float: left;
  }

  p {
    padding-left: $generic-spacing;
    padding-right: $generic-spacing;
  }

  a {
    color: $link-colour;
    border-bottom: $link-border;
    &:hover {
      border-bottom: $link-border-hover;
    }
  }
}
