@import "variables";
@import "utilities";

// /* Navbar */
body {

  &.home {
    header.top-header {
      nav.navbar {
        .navbar-item {
          display: none;
          visibility: hidden;
        }
        .navbar-brand {
          display: block;
          visibility: visible;
        }
      }
    }
  }

  header.top-header {
    width: 100%;

    nav.mobile-navbar {
      display: none;
      background-color: $primary-contrast-colour;
    }

    nav.navbar {
      height: 100%;
      width: 85%;

      .navbar-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        text-align: left;
        width: 100%;
        padding-top: $generic-spacing;

        .navbar-sub-list {
          list-style: none;
          padding: 0;
          margin: 0;
          visibility: hidden;
          padding-top: 2 * $generic-spacing;
          li.navbar-item {
            padding-left: $generic-spacing;
            a.navbar-link {
              color: $primary-text-colour;
              cursor: pointer;
              border: none;
              padding: 0;
              &:hover {
                font-weight: bold;
              }
            }
            &.active-nav {
              a.navbar-link {
                font-weight: bold;
              }
            }
          }
        }

        .active-nav, .navbar-item:hover, .navbar-item:active {
          a.navbar-link {
            border-bottom: $structural-border;
          }
          ul.navbar-sub-list {
            //todo -> this should be on in the appropriate cases.
            // visibility: visible;
          }
        }

        .navbar-item {
          margin: 0 auto;
          font-size: $medium-font;
          a.navbar-link {
            padding: $generic-spacing;
            color: $primary-text-colour;
            img.navbar-icon {
              height: 90px;
              width: auto;
              padding-right: 10px;
            }

            svg {
              height: $header-height;
              display: inline-block;
              vertical-align: middle;
            }

            p {
              font-size: $medium-font;
            }
          }


          &.navbar-option {
            padding-left: 0;
            padding-right: 0;
          }
          &:nth-child(2) {
            padding-left: $navbar-brand-width;
          }

          &.navbar-brand {
            height: $header-height;
            width: $navbar-brand-width;
            position: absolute;
            top: 0;
            left: 0;
            .navbar-link:hover {
              border: none;
            }
            &:hover {
              a.navbar-link {
                border: none;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    header.top-header {
      z-index: 1000;
    }
  }

  @media (max-width: $phone) {
    header.top-header {
      z-index: 1000;
    }
  }

  @include media-query($tablet) {
    header.top-header {
      position: fixed;
      width: 100%;
      bottom: auto;
      height: $header-height;
      border: none;
      border-bottom: $structural-border;

      nav.navbar {
        display: none;
      }
      nav.mobile-navbar {
        display: block;
        a {
          display: block;
          height: 100%;
          width: 240px;
          p, svg {
            height: $header-height;
            width: 100%;
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }
  }
}
