@import "variables";
@import "utilities";

/* Navbar */

header.top-header {

  background-color: $primary-colour;
  width: 100%;

  nav.navbar {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    width: 80%;
    height: 7rem;
    z-index: 99;

    .container {
      width: 100%;
    }
    .navbar-list {
      list-style: none;
      margin-bottom: 0;

      .navbar-item {
        margin-bottom: 0;
        &.active-nav {
          font-size: 20px;
        }
      }
    }
    .navbar-brand {}
    .navbar-options {
      display: flex;
      flex-direction: row;
      .navbar-link {
        font-size: 11px;
      }
    }

    .navbar-link {
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: .2rem;
      margin-right: 35px;
      text-decoration: none;
      line-height: 7rem;
      color: white;
    }

    .navbar-link.active {
      color: #33C3F0;
    }
  }

  // @include media-query($on-palm) {
  //   .navbar {
  //     .navbar-options {
  //       display: none;
  //     }
  //   }
  // }
}
