@import "variables";
@import "utilities";

body.shop, body.about {

  section.products {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 0;
    article {
      padding: 0;
      margin-bottom: 50px;
      text-align: center;

      &.product {
        position: relative;
        width: 272px;
        height: 550px;
        padding: 0;

        &.product-lamb {
          @include background-image-cover("/images/lamb.jpg");
        }

        &.product-beef {
          @include background-image-cover("/images/beef-cows.jpg");
          margin-right: 6px;
        }

        a {
          font-weight: bold;
          &:hover {
            color: $primary-text-colour;
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
