@import "variables";
@import "utilities";

body.shop, body.about {

  section.products {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 0;
    article {
      padding: 0;
      text-align: center;

      &.product {
        position: relative;
        width: 273px;
        height: 550px;
        padding: 0;

        .block-link {
          background-color: transparent;
          text-decoration: none;
          p {
            visibility: hidden;
          }
          transition-property: background-color;
          transition-duration: 0.15s;
          transition-timing-function: linear;
        }

        .block-link:hover, .block-link:active {
          background-color: $primary-colour-alpha;
          text-decoration: none;
          p {
            position: absolute;
            visibility: visible;
            top: 47%;
            width: 100%;
            margin: 0 auto;
            color: white;
            font-size: $medium-font;
            font-weight: normal;
          }
        }

        &.product-lamb {
          @include background-image-cover("/images/shop-lamb.jpg");

        }

        &.product-beef {
          @include background-image-cover("/images/shop-beef.jpg");
          margin-right: $small-spacing;
        }

        a {
          font-weight: bold;
          &:hover {
            color: $primary-text-colour;
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
