// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}


@mixin background-image-cover($image-path) {
  background: url($image-path) no-repeat bottom center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.clear {
  @extend %clearfix;
}

a.block-link {
  display: block;
  height: 100%;
  width: 100%;
  font-weight: inherit;
  font-size: inherit;
  position: absolute;

}
