// Our variables
// $base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-family: "skolar-sans-latin", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    650px;

$on-palm:          600px;
$on-laptop:        800px;

/* Custom, iPhone Retina */
$small-phone: 320px;
/* Extra Small Devices, Phones */
$phone: 480px;
/* Small Devices, Tablets */
$tablet: 768px;
/* Medium Devices, Desktops */
$laptop: 992px;
/* Large Devices, Wide Screens */
$large-screen: 1200px;

$main-content-padding: 70px;
$generic-spacing: 20px;

$alpha: 0.5;


$primary-colour: #302255;
$primary-colour-alpha: rgba($primary-colour, $alpha);
$primary-contrast-colour: white;
$primary-text-colour: $primary-colour;
$primary-contrast-text-colour: $primary-contrast-colour;

$structural-border: 1px solid $primary-colour;

$big-font: 20px;
$medium-font: 16px;
$small-font: 12px;


$text-color:       #111;
$primary-background-color: $primary-contrast-colour;
$primary-contrast-background-color: $primary-colour;

$footer-height: 100px;

$header-height: 100px;
$navbar-font-size: 20px;

$navbar-brand-width: 220px;


$social-footer-height: $generic-spacing * 3;
$social-footer-width: $generic-spacing * 10;
