---
layout: default
body-class: blog
---
<article class="blog-post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="blog-header blog-cover-photo" style="background-image: url({{ page.coverPhoto }})">

    <div class="gel">
      <header>
        <h2 class="blog-title">{{ page.title }}</h2>
        <p class="blog-date">{{ page.date | date: "%B %-d %Y" }}</p>
      </header>
    </div>
  </header>

  <div class="blog-post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
